<div>
    <fieldset>
        <div id="divRegister">
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="TagReg" placeholder="Tag">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" class="btn btn-primary" id="btnRegister">Register</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <input type="text" class="form-control" id="TagFind" placeholder="Tag">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="button" class="btn btn-primary" id="btnFind">Find</button>
            </div>
        </div>
        <div>
            <label>Games</label>
            <table class="table table-bordered table-checks">
                <tbody>
                    <tr>
                        <td>Names</td>
                        <td>Creator</td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody id="games">
                </tbody>
            </table>
        </div>

    </fieldset>
</div>


<script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/Views/Game/Game.js" ></script>